<section class="login">
    <div section="logindetails">
        <h1>Please enter your details:</h1>
        <form class="simple-form">
            Name :   <input type="text" ng-model="user.name" /><br />
            Phone:   <input type="phone" ng-model="user.phone" /><br />
            Gender: <input type="radio" ng-model="user.gender" value="male" />male
            <input type="radio" ng-model="user.gender" value="female" />female<br />
            <input type="submit" ng-click="updateUser(user, true)" value="Continue" />
        </form>
    </div>
</section>