<section class="tremper">
    <div class="tremperstart">
        <h1>Enter a new tremp</h1>
        <form class="simple-form">
            Name :   <input type="text" ng-model="myTremper.name" /><br />
            Phone:   <input type="phone" ng-model="myTremper.phone" /><br />
            Gender: <input type="radio" ng-model="myTremper.gender" value="male" />male
            <input type="radio" ng-model="myTremper.gender" value="female" />female<br />
            <br/>
            From    : <input type="text" ng-model="myTremper.from"/><br/>
            To      : <input type="text" ng-model="myTremper.to"/><br/>
            Details : <input type="text" ng-model="myTremper.details"/><br/>
            Time : <input type="number" ng-model="myTremper.hour" min="0" max="23"/>
            : <input type="number" ng-model="myTremper.minutes" min="0" max="59"/><br/>
            Date : <input type="date" ng-model="myTremper.date"/><br/>
            <input type="submit" ng-click="updateTremperList(myTremper)" value="Continue" />
        </form>
    </div>
</section>
<section class="tremperpage">
    <div class="search">
        <h1>Destination</h1>
        <label>search: </label>
        <input ng-model="toQuery" placeholder="Search Destination" autofocus>
    </div>
    <div class="search">
        <h1>Origin</h1>
        <label>search: </label>
        <input ng-model="fromQuery" placeholder="Search Origin" autofocus>
    </div>
    <ul class="tremperlist">
        <li ng-animate="'animate'" class="tremper cf" ng-repeat="trempist in trempists | filter:{to: toQuery} | filter:{from: fromQuery}">
            <a href="#/details_trempist/{{trempists.indexOf(trempist)}}">
                <div class="info">
                    <h2>{{trempist.name }}</h2>
                    <h3>{{trempist.from}}</h3>
                    <h3>{{trempist.to | filter: toQuery}}</h3>
                </div>
            </a>
        </li>
    </ul>
</section>