<section class="login">
    <div section="logindetails">
        <h1>Welcome To Tremper</h1>
        <h2>Please enter your details:</h2><br/>
        <form class="simple-form">
            <table>
                <tr>
                    <td>Name</td>
                    <td width="10"></td>
                    <td><input type="text" ng-model="user.name" /></td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td width="10"></td>
                    <td><input type="tel" ng-model="user.phone" /></td>
                </tr>
                </table>
                <table>
                    <tr>
                        <td width="60">Gender</td>
                        <td width="10"></td>
                        <td width="80"><input type="radio" ng-model="user.gender" value="male" />Male</td>
                        <td width="100"><input type="radio" ng-model="user.gender" value="female" />Female</td>
                    </tr>
                </table>

                <tr>

                </tr>



            </table>

            <br/>
            <input type="submit" ng-click="updateUser(user, true)" value="Continue" ng-disabled="userDataEntered()"/>
        </form>
    </div>
</section>