<section class="typeselect">
    <div class="select">
        <h1>What are you?</h1>
        <div class="select_imgs">
            <table>
                <tr>
                    <td><h2>Trempist</h2></td>
                    <td><h2>Tremper</h2></td>
                </tr>
                <tr>
                    <td>
                        <a href="#/trempist">
                            <img src="images/TrempistIconNew.png" class="select_img"/>
                        </a>
                    </td>
                    <td>
                        <a href="#/tremper">
                            <img src="images/TremperIconNew.png" class="select_img"/>
                        </a>
                    </td>

                </tr>

            </table>

        </div>
    </div>
</section>
